<p id="notice"><%= notice %></p>

<div class="custom-container1 text-white">
  <h1>Food Tracker</h1>
</div>

<div class="container-fluid p-5 bg-secondary">

  <table class="center">

    <thead>
      <tr>
        <th>Food Name</th>
        <th>Description</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @projects.each do |project| %>
        <tr>
          <td><%= project.title %></td>
          <td><%= project.description %></td>
          <td><%= link_to 'Show', project %></td>
          <td><%= link_to 'Edit', edit_project_path(project) %></td>
          <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>


</div>




<div class="custom-container1 text-center p-5pt">
  
<a class="btn btn-secondary text-white" href="projects/new" role="button">New Item</a>


</div>

